

.text-chocolate {
  color: #7B3F00 !important; 
}

.custom-hover:hover {
  color: #A0522D !important; 
}

.navbar-brand:hover {
  color: #A0522D ;
}
.dancing-script{
  font-family: 'Dancing Script',cursive;
  font-weight: 400;
}
.navbar-ivory{
  background-color: #FFFFF0;
}

